# Ignore everything
*

# Include gitignore file
!.gitignore
!kickstart.sh

# Include specified directories and all their contents
!alacritty/
!alacritty/**

!BambuStudio/
!BambuStudio/user/
!BambuStudio/user/**

!BambuStudioBeta/
!BambuStudioBeta/user/
!BambuStudioBeta/user/**


!discord/
!discord/settings.json

!dunst/
!dunst/**

!fish/
!fish/**

!hypr/
!hypr/**

!i3/
!i3/**

!i3status/
!i3status/**

!kitty/
!kitty/**

!nvim/
!nvim/**

!picom/
!picom/**

!PrusaSlicer/
!PrusaSlicer/**

!wallpapers/
!wallpapers/**

!waybar/
!waybar/**

!xfce4/
!xfce4/**
